.packageLogo {
  height: 90px;
}

$cardWidth: 260;

.packageCard {
  padding-top: 2rem;
  padding-bottom: 1rem;
  width: #{$cardWidth}px;
  :global(.card__body), :global(.card__image), :global(.card__footer) {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

.packageName {
  white-space: nowrap;
  display: block;
  margin: 0 auto;
  overflow: hidden;
  text-overflow: ellipsis;
}

.packagesWrapper {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
  justify-content: center;
  align-items: center;
  max-width: 95%;
}
