.integrationLogo {
  height: 90px;
  margin-bottom: 1rem;
}

$cardWidth: 260;

.integrationCard {
  padding-top: 2rem;
  padding-bottom: 1rem;
  width: #{$cardWidth}px;
  :global(.card__body), :global(.card__image), :global(.card__footer) {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

.integrationsWrapper {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
  justify-content: center;
  align-items: center;
  max-width: 95%;
}
