.flex {
  display: flex;
}
.flex-col {
  flex-direction: column;
}
.items-center {
  align-items: center;
}
.mt-10 {
  margin-top: 2.5rem;
}
.w-220 {
  width: 55rem;
}
.text-center {
  text-align: center;
}
